@import "./_variables.scss";

@include exports("form_ph") {
    %input-default {
        font-size: 1.8rem;
        width: 100%;
        font-family: $fonts;
    }

    %button-default {
        text-align: center;
        border-radius: 0.6rem;
        background-color: rgb(29, 161, 242);
        color: white;
        padding: 1.2rem;

        &:disabled {
            color: rgb(89, 211, 242);
        }
    }
}
