<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
    <link rel="stylesheet" type="text/css" href="https://unpkg.com/react-md@1.4.2/dist/react-md.indigo-pink.min.css" />
    <link rel="stylesheet" type="text/css" href="~/dist/Common.css" />
</head>
<body>
        @RenderBody()
</body>
</html>
