.bar {
    position: fixed;
    top: 0;
    background-color: white;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    z-index: 10;
}
.spacing {
    padding-bottom: 20px;
}

body {
    margin: 0;
}

.trsn-anchor {
    position: relative;
    margin-top: 50px;
}

.appeared {
    position: relative;
    left: 0;
    width: 100%;
}

.disappeared {
    position: absolute;
    opacity: 0;
}

.zoom-in-out {
    position: absolute;
    width: 100%;
    transition: all .3s ease-out;
}

.zoom-in-out.appearing {
    opacity: 1;
    transform: scale(1);
}

.zoom-in-out.disappearing, .zoom-in-out.disappeared {
    opacity: 0;
    transform: scale(0.6);
}

.zoom-in-out.disappeared { transition: none; }

.fade-in-out {
    position: absolute;
    width: 100%;
    transition: opacity .3s ease-out;
}

.fade-in-out.appearing {
    opacity: 1;
}

.fade-in-out.disappearing, .fade-in-out.disappeared {
    opacity: 0;
}

.slide-in-right {
    position: absolute;
    left: 100%;
    width: 100%;
    transition: left .3s ease-out;
}

.slide-in-right.appearing {
    left: 0;
}

.slide-in-left {
    position: absolute;
    left: -100%;
    width: 100%;
    transition: left .3s ease-out;
}

.slide-in-left.appearing {
    left: 0;
}

.slide-out-left {
    position: absolute;
    left: 0;
    width: 100%;
    transition: left .3s ease-out;
}

.slide-out-left.disappearing, .slide-out-left.disappeared {
    left: -100%;
}

.slide-out-right {
    position: absolute;
    left: 0;
    width: 100%;
    transition: left .3s ease-out;
}

.slide-out-right.disappearing, .slide-out-right.disappeared {
    left: 100%;
}